//Colores
$naranja: rgb(255, 118, 38);
$naranjaResaltado: rgb(255, 142, 67);
$azul: #33adff;
$fondoCards: rgba(255, 236, 233, 0.932);
$rosaResaltado: rgb(255, 123, 134);
$errorBackground: rgba(255, 103, 103, 0.507);
$errorColor: rgb(134, 1, 1);
//Fuentes
$parrafos: 'Pangolin', cursive;
$titulo: 'Pacifico', cursive;
@mixin botones {
    height: 36px;
    background-color: $naranja;
    color: white;
    border-radius: 10px;
    font-family: $parrafos;
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
}
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin cardStyle {
    background-color: $fondoCards;
    border: 15px solid black;
}
@mixin cardResult {
    background-color: $fondoCards;
    border: 8px solid black;
    border-radius: 15px;
}
@mixin background {
    margin: 0;
    background-image: url("../img/fondo.jpg");
    background-size: 100%;
}
body {
    @include background;
    font-family: $parrafos;
}
h1 {
    font-family: $titulo;
    color: $azul;
    text-align: center;
    margin: 14px auto;
}
.presentacion {
    @include cardStyle;
    width: 35%;
    margin: 50px auto;
    border-radius: 30px;
    .cont {
        @include flexColumn();
        justify-content: center;
        p {
            margin: 5px;
            text-align: center;
        }
        input {
            width: 70%;
            height: 20px;
            margin: 5px;
            &:focus {
                outline-color: $rosaResaltado;
            }
        }
        .nivel-btn {
            width: 70%;
            margin: 5px;
            @include botones;
            &:last-of-type {
                margin-bottom: 25px;
            }
            &:hover {
                background-color: $naranjaResaltado;
            }
        }
        #error-msj{
            width: 70%;
            background-color:  $errorBackground;
            margin-bottom: 35px;
            text-align: center;
            p {
                margin: 10px auto;
                color: $errorColor;
            }
        }
    }
}
.juego {
    @include cardStyle;
    width: 80%;
    margin: 2vh auto;
    border-radius: 25px;
    .cont-juego {
        @include flexColumn();
        h1 {
            margin-bottom: 5px; 
        }
        #p-jugador {
            font-size: 16px;
        }
        p{
            margin: 0;
            text-align: center;
        }
        .intentos {
            color: $azul;
        }
        .barra-intentos {
            width: 65%;
            margin: 15px 0px 20px 0px;
            background-color: white;
            border: 3px solid $azul;
            border-radius: 10px;
            p {
                text-align: center;
                margin: 5px 0px;  
            }
        }
    }
}
#intentos {
    color: $naranja;
}
.cont-fichas {
    width: 58%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .ficha {
        width: 20%;
        border: 2px solid $naranjaResaltado;
        background-color: white;
        margin: 5px 0px;
        &:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            cursor: pointer;
        }
        .img-ficha {
            width: 100%;
            height: 100%;
        }
    }
}
//////////////////////////////////
#modal-ganaste{
    margin: 0;
}
.sheer-pink {
    @include background;
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
    position: fixed;
    top: 0;
    z-index: 1;
}
.card-tabla {
    @include cardResult;
    @include flexColumn();
    z-index: 1;
    width: 36%;
    position: absolute;
    top: 20px;
    left: 31.5%;
    p  {
        margin: 5px 0px auto;
        &:first-of-type {
            margin-top: 30px;
        }
    }
    .play-again {
        margin: 15px 0px 15px 0px;
        width: 60%;
        @include botones;
    }
    .tabla {
        display: flex;
        width: 80%;
        margin: 0px auto 30px;
        .modulo-tabla {
            width: 33.3%;
            border: 1px solid black;
            p {
                text-align: center;
                &:first-of-type {
                    margin-top: 5px;
                }
            }
        }
    }
}
//////////////////////////////////
.hidden {
    display: none;
}
.gray-scale {
    filter: grayscale(100%);
}
.flip {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

@media (max-width: 1000px) {
    .presentacion {
        width: 50%;
    }
    .cont-fichas {
        width: 80%;
    }
    .card-tabla {
        width: 46%;
        left: 26%;
    }
}
@media (max-width: 600px) {
    h1 {
        font-size: 28px;
        margin: 10px 0px 5px 0px;
    }
    .presentacion {
        width: 70%;
    }
    .cont-fichas {
        width: 80%;
        .ficha {
            width: 26%;
        }
    }
    .cont-juego {
        p {
            font-size: 14px;
        }
    } 
    .card-tabla {
        width: 70%;
        left: 13.5%;
    }
}